<%- include('includes/header.ejs') %> 

<form class="form-signin">
  <h1 class="h3 mb-3 font-weight-normal">User Registration</h1>
  <label for="inputName" class="sr-only">Name</label>
  <input type="text" id="inputName" name="inputName" class="form-control" placeholder="Name" required
    autofocus>
  <label for="inputEmail" class="sr-only">E-mail</label>
  <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="E-mail" required>
  <label for="inputUsername" class="sr-only">Username</label>
  <input type="text" id="inputUsername" name="inputUsername" class="form-control" placeholder="Username" required>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
  <p>Already have an account? <a href="/users/login">Log In</a>!</p>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
</form>

<%- include('includes/footer.ejs') %>